@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Seth L.
   Date:     11/08/2023
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Bahnschrift, Times New Roman, sans-serif;
	background-color: rgb(191, 191, 191);
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
}


header {
    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    border: 5px solid rgb(37, 140, 246);
	background-color: rgb(206, 227, 247);
    box-shadow: 15px 15px 5px 0 rgb(23, 85, 141);
    border-radius: 5px;  	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
	font-size: 30px;
    list-style: none;
}

nav ul li a {
    padding: 10px;
    color: rgb(37, 140, 246);
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: rgb(37, 140, 246);
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: Black;
    border-left: 2px solid;
    border-right: 2px solid;    
    
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: bold;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h1 {
	font-style: italic;
	font-size: 2.5em;
	text-align: center;
	padding-bottom: 0.5em;
}
h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: rgb(37, 140, 246);
    clear: both;
    color: White;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color: rgb(206, 227, 247);
    text-decoration: none;
}

footer a:visited {
    color: white;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
	font-style: italic;
}

